# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\thiag\OneDrive\Área de Trabalho\18.01363-5\18.01363-5_ThiagoAraujo\Linguagens1_Projetos\Pratica13\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
